/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://prog-8.com/images/html/advanced/top.png);
  background-size: cover;
  color: white;
  text-align: center;
}
.container {
  width: 1170px;
  margin: 0 auto;
  /*padding: 0 15px;*/
}
h1 {
  font-size: 45px;
  font-weight: bold;
  letter-spacing:5px;
  opacity: 0.7;
}
.top-wrapper p {
  opacity: 0.7;
}
.btn {
  padding: 8px 24px;
  font-size: 1.0em;
  border-radius: 5px;
  text-align: center;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-style: none;
}

.btn:hover {
  opacity: 1;
}
.new {
  background-color: #239b76;
  margin: 30px 0 15PX 0;
}
.facebook {
  background-color: #3b5998;
  margin: 15px 5px;
}
.twitter {
  background-color: #55acee;
  margin: 15px 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}
.header-left {
  float: left;
}
.header-left img {
  width: 124px;
  margin-top: 20px;
}
.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}
.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.header-right a {
  display: block;
  line-height:65px;
  padding: 0 25px;
  color: white;
}

.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}
.lesson-wrapper h2 {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
  font-weight: normal;
}
.lesson {
  float: left;
  width: 25%;
}
.lesson-icon {
  position: relative;
}
.lesson-label {
  position: absolute;
  top:44%;
  width: 100%;
  color: white;
  /*font-weight: bold;*/
}
.lesson-discription {
  display: inline-block;
  width: 80%;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.message-wrapper {
  text-align: center;
}
.message-wrapper .heading {
  margin-top: 80px;
  color: #5f5d60;
}
.message-wrapper h2 {
  font-weight: normal;
}
.start-btn {
  display: inline-block;
  margin: 50px 0 80px;
  background-color: #5dca88;
  border-radius: 5px;
  box-shadow: 0 7px #1a7940;
  opacity: 0.8;
}
.start-btn a {
  display: block;
  padding: 15px 40px;
  color: white;
}
.start-btn:hover {
  opacity: 1;
}

footer {
  border-top: 1px solid #eee;
}
footer .container {
  padding: 30px 0;
}
footer img {
  width: 124px;
}
footer p {
  color: #b3aeb5;
  font-size: 12px;
}

